<div class="heading">Solution Domain</div>
<div>
  <table class="solutionDomain">
    <tr>
      <td>Steady-State</td>
      <td><input name="SolutionDomain{{id}}" type="radio" [(ngModel)]="solutionDomain.value" value="ROfRho" (click)="setIndependentAxes('ρ', 'mm', '', '')" />&nbsp;R(ρ)</td>
      <td><input name="SolutionDomain{{id}}" type="radio" [(ngModel)]="solutionDomain.value" value="ROfFx" (click)="setIndependentAxes('fx', '1/mm', '', '')" />&nbsp;R(fx)</td>
    </tr>
    <tr>
      <td>Time-Domain</td>
      <td><input name="SolutionDomain{{id}}" type="radio" [(ngModel)]="solutionDomain.value" value="ROfRhoAndTime" (click)="setIndependentAxes('ρ', 'mm', 't', 'ns')" />&nbsp;R(ρ, t)</td>
      <td><input name="SolutionDomain{{id}}" type="radio" [(ngModel)]="solutionDomain.value" value="ROfFxAndTime" (click)="setIndependentAxes('fx', '1/mm', 't', 'ns')" />&nbsp;R(fx, t)</td>
    </tr>
    <tr>
      <td>Frequency-Domain</td>
      <td><input name="SolutionDomain{{id}}" type="radio" [(ngModel)]="solutionDomain.value" value="ROfRhoAndFt" (click)="setIndependentAxes('ρ', 'mm', 'ft', 'GHz')" />&nbsp;R(ρ, ft)</td>
      <td><input name="SolutionDomain{{id}}" type="radio" [(ngModel)]="solutionDomain.value" value="ROfFxAndFt" (click)="setIndependentAxes('fx', '1/mm', 'ft', 'GHz')" />&nbsp;R(fx, ft)</td>
    </tr>
  </table><br *ngIf="independentAxes.show" />
  <div *ngIf="independentAxes.show" class="form-inline">
    Independent Axis:&nbsp;
    <input name="IndependentAxis" type="radio" [(ngModel)]="independentAxes.label" value="{{independentAxes.second}}" (click)="changeUnits(2)" />&nbsp;{{independentAxes.first}}&nbsp;
    <input name="IndependentAxis" type="radio" [(ngModel)]="independentAxes.label" value="{{independentAxes.first}}" (click)="changeUnits(1)" />&nbsp;{{independentAxes.second}}&nbsp;&nbsp;&nbsp;at&nbsp;&nbsp;
    <div class="input-group input-group-sm axis">
      <div class="input-group-prepend">
        <span id="independentAxisLabel" class="input-group-text">{{independentAxes.label}}</span>
      </div>
      <input id="independentAxisValue" type="text" class="form-control" [(ngModel)]="independentAxes.value" />
      <div class="input-group-append">
        <span id="independentAxisUnits" class="input-group-text">{{independentAxes.units}}</span>
      </div>
    </div>
  </div>
</div>
<br />
<!-- Range -->
<app-range [range]="range"></app-range>
