<div class="reset">
  <select id="tissue-type" class="form-select form-select-sm" [ngModel]="tissueType.value"
    (ngModelChange)="onChange($event)">
    <option *ngFor="let tissue of tissueTypeList" [value]="tissue.value">{{tissue.display}}</option>
  </select>
  <div id="absorber-concentrations">
    <div class="heading">Absorber Concentrations</div>
    <div class="row absorber">
      <div class="col">
        <div class="input-group input-group-sm" *ngFor="let concentration of absorberConcentration"
          id="{{concentration.label}}">
          <span id="startLabel" class="input-group-text">{{concentration.label}}</span>
          <input id="startValue" name="startValue" type="text" class="form-control" [(ngModel)]="concentration.value" />
          <span id="startUnits" class="input-group-text">{{concentration.units}}</span>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div id="blood-concentration" *ngIf="bloodConcentration.visible">
    <div class="heading">Blood Concentration</div>
    <div class="row range">
      <div class="col input-group input-group-sm">
        <span id="startLabel" class="input-group-text">Total Hb</span>
        <input id="startValue" name="startValue" type="text" class="form-control"
          [(ngModel)]="bloodConcentration.totalHb" />
        <span id="startUnits" class="input-group-text">μM</span>
      </div>
      <div class="col input-group input-group-sm">
        <span id="endLabel" class="input-group-text">Blood Volume</span>
        <input id="endValue" name="endValue" type="text" class="form-control"
          [(ngModel)]="bloodConcentration.bloodVolume" />
        <span id="endUnits" class="input-group-text">vol. frac.</span>
      </div>
      <div class="col input-group input-group-sm">
        <span id="numberLabel" class="input-group-text">StO2</span>
        <input id="numberValue" name="numberValue" type="text" class="form-control number"
          [(ngModel)]="bloodConcentration.stO2" />
        <span id="endUnits" class="input-group-text">frac.</span>
      </div>
    </div>
  </div>
  <br /><br />
  <app-scatterer-type [scattererType]="scattererType" [powerLaw]="powerLaw" [intralipid]="intralipid"
    [mieParticle]="mieParticle"></app-scatterer-type>
</div>