<div class="heading">Optimization Parameters</div>
<div>
  <input name="OptimizationParameters" type="radio" [(ngModel)]="optimizationParameters.value" value="MuaMusp" />&nbsp;μa and μs&nbsp;
  <input name="OptimizationParameters" type="radio" [(ngModel)]="optimizationParameters.value" value="Mua" />&nbsp;μa Only&nbsp;
  <input name="OptimizationParameters" type="radio" [(ngModel)]="optimizationParameters.value" value="Musp" />&nbsp;μs' Only&nbsp;
  <input name="OptimizationParameters" type="radio" [(ngModel)]="optimizationParameters.value" value="MuaMuspG" />&nbsp;μa, μs' and g&nbsp; 
</div>  

