<div class="heading">Optimization Parameters</div>
<div>
  <input name="OptimizationParameters" type="radio" [(ngModel)]="optimizationParameters.value" value="muaandmusp" />&nbsp;μa and μs&nbsp;
  <input name="OptimizationParameters" type="radio" [(ngModel)]="optimizationParameters.value" value="muaonly" />&nbsp;μa Only&nbsp;
  <input name="OptimizationParameters" type="radio" [(ngModel)]="optimizationParameters.value" value="musponly" />&nbsp;μs' Only&nbsp;
  <input name="OptimizationParameters" type="radio" [(ngModel)]="optimizationParameters.value" value="muamuspandg" />&nbsp;μa, μs' and g&nbsp; 
</div>  

