<form name="form1" (submit)="onSubmit()">
  <!-- Forward Solver Engine -->
  <app-forward-solver-engine [gaussianBeam]="gaussianBeam" [forwardSolverEngine]="forwardSolverEngine"></app-forward-solver-engine>
  <br /><br />
  <!-- Solution Domain selection -->
  <app-solution-domain [independentAxes]="independentAxes" [solutionDomain]="solutionDomain" [range]="range"></app-solution-domain>
  <br /><br />
  <!-- Optical Property settings -->
  <app-optical-properties [opticalProperties]="opticalProperties"></app-optical-properties>
  <br /><br />
  <!-- Model Analysis settings -->
  <app-model-analysis-type [modelAnalysisType]="modelAnalysisType"></app-model-analysis-type>
  <div class="pull-right"><button id="Simulation" type="submit" class="btn btn-primary">Plot Reflectance</button></div>
</form>
