<div class="heading">{{opticalProperties.title}}</div>
<div class="row g-4 input-group input-group-sm optical-properties">
  <div class="col input-group input-group-sm">
    <span class="input-group-text">μa</span>
    <input id="mua" type="text" class="form-control" placeholder="μa" [(ngModel)]="opticalProperties.mua" />
    <span class="input-group-text">1/mm</span>
  </div>
  <div class="col input-group input-group-sm">
    <span class="input-group-text">μs'</span>
    <input id="musp" type="text" class="form-control" placeholder="μs'" [(ngModel)]="opticalProperties.musp" />
    <span class="input-group-text">1/mm</span>
  </div>
  <div class="col input-group input-group-sm">
    <span class="input-group-text">g</span>
    <input id="g" type="text" class="form-control" placeholder="g" [(ngModel)]="opticalProperties.g" />
  </div>
  <div class="col input-group input-group-sm">
    <span class="input-group-text">n</span>
    <input id="n" type="text" class="form-control" placeholder="n" [(ngModel)]="opticalProperties.n" />
  </div>
  <div class="col"></div>
</div>