<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div id="content" class="row">
  <div id="input-column" class="col">
    <ul id="input-tabs" class="nav nav-tabs">
      <li class="nav-item"><a id="fs-tab" data-toggle="tab" role="tab" class="nav-link active" href="#fs">Forward Solver/Analysis Panel</a></li>
      <li class="nav-item"><a id="is-tab" data-toggle="tab" role="tab" class="nav-link" href="#is">Inverse Solver Panel</a></li>
      <li class="nav-item"><a id="s-tab" data-toggle="tab" role="tab" class="nav-link" href="#s">Spectral Panel</a></li>
    </ul>
    <div id="input-content" class="tab-content">
      <div id="fs" role="tabpanel" class="tab-pane fade show active">
        <div class="panel">
          <app-forward-solver-analysis></app-forward-solver-analysis>
        </div>
      </div>
      <div id="is" role="tabpanel" class="tab-pane fade">
        <div class="panel">
          <app-inverse-solver-analysis></app-inverse-solver-analysis>
        </div>
      </div>
      <div id="s" role="tabpanel" class="tab-pane fade">
        <div class="panel">
          <app-spectral></app-spectral>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <app-plot></app-plot>
  </div>
</div>
<router-outlet></router-outlet>
