<form name="form1">
  <div class="heading">Tissue Type</div>
  <!-- Tissue -->
  <app-tissue-definition [tissueType]="tissueTypeDropdown" [absorberConcentration]="absorberConcentration" [bloodConcentration]="bloodConcentration" [scattererType]="scattererTypeDropdown" [powerLaw]="powerLaw" [intralipid]="intralipid" [mieParticle]="mieParticle"></app-tissue-definition>
  <br />
  <!-- Range -->
  <app-range [range]="range"></app-range>
  <br />
  <div class="pull-right">
    <button id="PlotMuspSpectrum" type="button" class="btn btn-primary" (click)="plotMuspSpectrum()">Plot μa Spectrum</button>&nbsp;
    <button id="PlotMuaSpectrum" type="button" class="btn btn-primary" (click)="plotMuaSpectrum()">Plot μs' Spectrum</button>
  </div>
</form>
