<div class="reset">
  <div class="heading">Forward Solver Engine</div>
  <select id="forwardSolverEngine" class="form-control form-control-sm" [ngModel]="forwardSolverEngine.value" (ngModelChange)="onChange($event)">
    <option *ngFor="let fs of forwardSolverEngineList" [value]="fs.value">{{fs.display}}</option>
  </select><br *ngIf="gaussianBeam.show" />
  <div class="input-group input-group-sm gaussian" *ngIf="gaussianBeam.show">
    <div class="input-group-prepend">
      <span class="input-group-text">Gaussian Beam Diameter</span>
    </div>
    <input type="text" class="form-control gaussian" placeholder="1" [(ngModel)]="gaussianBeam.diameter" />
    <div class="input-group-append">
      <span class="input-group-text">mm</span>
    </div>
  </div>
</div>
