<form name="form2" (submit)="onSubmit()">
   <!-- <div class="pull-right"><button id="File" type="submit" class="btn btn-primary" (click)="onClick()">Get File</button></div>
 -->
  <!-- Forward Solver Engine -->
  <app-forward-solver-engine [forwardSolverEngine]="forwardSolverEngine"></app-forward-solver-engine>
  <br /><br /> 
  <!-- Inverse Solver Engine -->
  <app-inverse-solver-engine [inverseSolverEngine]="inverseSolverEngine"></app-inverse-solver-engine>
  <br /><br /> 
  <!-- Solution Domain selection -->
  <app-solution-domain [independentAxes]="independentAxes" [solutionDomain]="solutionDomain" [range]="range"></app-solution-domain>
  <br /><br /> 
  <!-- Forward Simulation Optical Property settings -->
  <app-optical-properties [opticalProperties]="opticalProperties"></app-optical-properties>
  <br /><br /> 
  <!-- Initial Guess Optical Property settings -->
  <app-optical-properties [opticalProperties]="opticalProperties"></app-optical-properties>
  <br /><br /> 

  <div class="pull-right"><button id="Measured" type="submit" class="btn btn-primary">Plot Measured Data</button></div>
  <div class="pull-center"><button id="InitialGuess" type="submit" class="btn btn-primary">Plot Initial Guess</button></div>
  <div class="pull-left"><button id="Simulation" type="submit" class="btn btn-primary">Run Inverse Solver</button></div>
</form>
