<div class="heading">{{range.title}}</div>
<div class="range form-inline">
  <div class="row g-3 input-group input-group-sm">
    <div class="col input-group input-group-sm">
      <span id="startLabel" class="input-group-text">{{range.startLabel}}</span>
      <input id="startValue" name="startValue" type="text" class="form-control" [(ngModel)]="range.axisRange.start" />
      <span id="startUnits" class="input-group-text">{{range.startLabelUnits}}</span>
    </div>
    <div class="col input-group input-group-sm">
      <span id="endLabel" class="input-group-text">{{range.endLabel}}</span>
      <input id="endValue" name="endValue" type="text" class="form-control" [(ngModel)]="range.axisRange.stop" />
      <span id="endUnits" class="input-group-text">{{range.endLabelUnits}}</span>
    </div>
    <div class="col input-group input-group-sm">
      <span id="numberLabel" class="input-group-text">{{range.numberLabel}}</span>
      <input id="numberValue" name="numberValue" type="text" class="form-control number" [(ngModel)]="range.axisRange.count" />
    </div>
    <div class="col"></div>
  </div>
</div>
