<div>
  <div class="heading">{{title}}</div>
  <select id="scatterer-type" class="form-select form-select-sm" [ngModel]="scattererType.value"
    (ngModelChange)="onChange($event)">
    <option *ngFor="let scatterer of scattererTypeList" [value]="scatterer.value">{{scatterer.display}}</option>
  </select>
  <br />
  <div>
    <div class="range form-inline" *ngIf="powerLaw.show">
      <div class="row input-group input-group-sm">
        <div class="col input-group input-group-sm">
          <span id="startLabel" class="input-group-text">A</span>
          <input id="a" name="startValue" type="text" class="form-control" [(ngModel)]="powerLaw.a" />
        </div>
        <div class="col input-group input-group-sm">
          <span id="b" class="input-group-text">b</span>
          <input id="startValue" name="startValue" type="text" class="form-control" [(ngModel)]="powerLaw.b" />
          <span id="desc" class="input-group-text">(A = μs' at 1000nm)</span>
        </div>
      </div>
    </div>
    <div class="range form-inline" *ngIf="intralipid.show">
      <div class="row input-group input-group-sm">
        <div class="col input-group input-group-sm">
          <span id="startLabel" class="input-group-text">Volume Fraction</span>
          <input id="a" name="startValue" type="text" class="form-control" [(ngModel)]="intralipid.volumeFraction" />
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div class="range form-inline" *ngIf="mieParticle.show">
      <div class="row input-group input-group-sm">
        <div class="col input-group input-group-sm">
          <span id="startLabel" class="input-group-text">Particle Radius</span>
          <input id="a" name="startValue" type="text" class="form-control" [(ngModel)]="mieParticle.particleRadius" />
        </div>
        <div class="col input-group input-group-sm">
          <span id="startLabel" class="input-group-text">Particle</span>
          <input id="a" name="startValue" type="text" class="form-control"
            [(ngModel)]="mieParticle.particleRefractiveIndex" />
        </div>
        <div class="col input-group input-group-sm">
          <span id="startLabel" class="input-group-text">Medium</span>
          <input id="a" name="startValue" type="text" class="form-control"
            [(ngModel)]="mieParticle.mediumRefractiveIndex" />
        </div>
        <div class="col input-group input-group-sm">
          <span id="startLabel" class="input-group-text">Volume Fraction</span>
          <input id="a" name="startValue" type="text" class="form-control" [(ngModel)]="mieParticle.volumeFraction" />
        </div>
      </div>
    </div>
  </div>